:root{
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #485057;
    --gray-500: #343A40;

    --white-100: #FFFFFF
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--light-blue-100);
    font-weight: 400;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.cabecalho{
    padding: 2%;
}

.decodificador{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo__alura:hover{
    height: 48px;
    margin-right: 100px;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.decodificador__esquerdo{
    width: 60%;
    height: 100%;
    padding-top: 40px;
    gap: 16px;
}

textarea{
    height: 400px;
    resize: none;
    border: 0px none;
    outline: none;
    font-size: 2rem;
    color: var(--dark-blue-500);
}

.decodificador__esquerdo__conteudo{
    display: flex;
    outline: none;
    gap: 5px;
}

.caixa__texto__principal{
    padding-top: 60px;
    padding-left: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.texto__principal{
    width: 100%;
    border: none;
    font-family: "Inter", sans-serif;
    color: var(--dark-blue-300);
    width: 100%;
    outline: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    background-color: transparent;
}

.texto-principal::placeholder{
    color: var(--dark-blue-300);
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 8.75rem; 
    margin-right: 12.5rem;
    margin-left: 3.12rem;
    gap: 24px;
   
}
   
.botoes__cripto{
    padding: 24px;
    width: 50%;
    background-color: var(--dark-blue-300);
    color: var(--gray-100);
    border-radius: 24px;
    font-weight: 400;
    font-size: 1rem;
    border-style: none;
    cursor: pointer;
   
}

.botoes__cripto:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.botoes__descripto{
    padding: 24px;
    width: 50%;
    background-color: var(--gray-100);
    color: var(--dark-blue-500);
    border-radius: 24px;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--dark-blue-500);
    cursor: pointer;
}

.botoes__descripto:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.decodificador__direito{
    width: 40%;
    background-color: var(--white-100);
    box-shadow: 0px 24px 32px -8px #00000014;
    border-radius: 32px;
    padding: 5% 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.decodificador__direito__conteudo{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.decodificador__direito__copiar{
    padding: 24px;
    border-radius: 24px;
    background-color: var(--white-100);
    color: var(--dark-blue-500);
    width: 50%;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--dark-blue-500);
    cursor: pointer;
}

.decodificador__direito__copiar:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.rodape{
    text-align: center;
    background-color: var(--dark-blue-100);
    padding: 16px;
    color: var(--dark-blue-500);
    font-family: "Inter", sans-serif;
    font-size: 200;
    
}

@media (max-width: 768px ) {

    body{
        flex-direction: column;
        padding: 2% 0% 0% 1%;
     }

    .decodificador{
        flex-direction: column;
    }

    .decodificador__direito{
        width: 688px;
        height: 133px;
        box-shadow: 5px 5px 5px 5px var(--dark-blue-500);
    }

    .decodificador__direito__copiar{
        padding: 1rem;
        width: 200px 
    }

    .decodificador__direito__conteudo__img{
        display: none;
    }
}

@media(max-width: 425px){ 
   
    .decodificador{
        flex-direction: column;
    }

    .decodificador__esquerdo{
        max-width: 100%;
        word-wrap: break-word; 
        text-align: center; 
        margin-top: 20px
    }

    .texto__principal{
        width: calc(100% - 40px);
        margin-right: 0; 
        height: 200px; 
       text-align: center;
    }

    .decodificador__esquerdo__conteudo__exclamacao{
        justify-content: center;
    }

    botoes{
        flex-direction: column;
        align-items: center;
    }

    .decodificador__direito{
        width: 327px;
        height: 186px;
        box-shadow: 5px 5px 5px 5px var(--dark-blue-500);
    }

    .rodape{
        padding: 1rem;
    }

}

@media(max-width: 320px){

    .decodificador{
        flex-direction: column;
        align-items: center;
        padding: 0 10px; 
    }

    .decodificador__esquerdo{
        max-width: 100%;
        word-wrap: break-word; 
        text-align: center; 
        margin-top: 20px; 
    }

    .decodificador__esquerdo__conteudo__exclamacao{
        margin-bottom: 10px;
    }

    .botoes{
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .decodificador__direito{
        width: calc(100% - 60px); 
        height: 186px;
        margin: 20px; 
    }
}